<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>wasps project</title>
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
		<link rel="icon" href="http://img1.ph.126.net/SdeVSGY55wGQ1xHNrBN49g==/6632449851817384801.png" type="image/x-icon">
		<link rel="stylesheet" href="css/public.css" />
		<link rel="stylesheet" href="css/project.css" />
	</head>
	<body ng-app="app" ng-controller="controller" >
		<section class="container">
			<div class="logo">
				<img src="img/hf_logo.png" />
			</div>
			<p class="title">整理自己页面和游戏，纯属娱乐</p>
			<div class="content">
				<div class="item" ng-repeat="data in list" >
					<p ng-bind=data.title></p>
					<ul>
						<li ng-repeat="item in data.contents" >
							<a ng-href="{{item.linkTo}}"  ng-bind="item.des" ></a>
						</li>
					</ul>
				</div>
			</div>
		</section>
		<canvas id="canvas"></canvas>
		<script type="text/javascript" src="https://cdn.bootcss.com/angular.js/1.2.4/angular.min.js" ></script>
		<script type="text/javascript" src="data/projectData.js" ></script>
		<script type="text/javascript" src="js/project.js" ></script>
	</body>
</html>